@font-face {
  font-family: "BR Firma";
  src: url("../src/utils/fonts/BRFirma-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "BR Firma";
  src: url("../src/utils/fonts/BRFirma-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "BR Firma";
  src: url("../src/utils/fonts/BRFirma-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "BR Firma";
  src: url("../src/utils/fonts/BRFirma-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "BR Firma";
  src: url("../src/utils/fonts/BRFirma-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "BR Firma", sans-serif;
  min-width: 225px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

//logo
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Button
.linkWrapper {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem 2.3rem 1rem 2rem;
  background-color: #eabb17;
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
  cursor: pointer;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 930px) {
    padding: 0.8rem 1.84rem 0.8rem 1.6rem;
  }

  @media (max-width: 425px) {
    font-size: 1.4rem;
    gap: 0.7rem;
    padding: 0.285em 1.425em;
  }

  @media (max-width: 400px) {
    font-size: clamp(1.2rem, 4vw, 1.4rem);
  }

  @media (max-width: 240px) {
    font-size: 1.15rem;
  }

  &__link {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.5;
    color: #212121;

    @media (max-width: 1100px) {
      line-height: 2.2;
    }

    @media (max-width: 930px) {
      font-size: 1.5rem;
      line-height: 2;
    }

    @media (max-width: 850px) {
      font-size: 1.4rem;
      line-height: 2.2143;
    }

    @media (max-width: 400px) {
      font-size: clamp(1.2rem, 4vw, 1.4rem);
    }

    @media (max-width: 240px) {
      font-size: 1.15rem;
    }
  }
}

//SECtion HEADER
.sectionHeader {
  font-size: 3.4rem;
  font-weight: 600;
  line-height: 1.9118;
  color: #212121;
  text-align: center;

  @media (max-width: 930px) {
    font-size: 3.2rem;
  }

  @media (max-width: 765px) {
    font-size: 2.8rem;
  }

  @media (max-width: 530px) {
    font-size: clamp(2.7rem, 5.73vw, 3.5rem);
  }

  @media (max-width: 400px) {
    font-size: clamp(1.85rem, 6.4vw, 2.4rem);
    // font-size: 2.4rem;
    line-height: 1.25;
    margin-top: 1em;
  }

  //

  &__accent {
    display: inline;
    color: #eabb17;
  }
}

// HEADER
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  max-height: 100px;
  padding-inline: 8.3333%;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0px 1px 20px 0px #0000000d;

  @media (max-width: 1000px) {
    padding-inline: 7%;
  }

  @media (max-width: 800px) {
    padding-inline: 5%;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    padding-inline: 0;
    box-shadow: none;
    height: auto;
    max-height: 700px;
  }

  @media (max-width: 400px) {
    padding-inline: 0;
  }

  &__logo-hamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px) {
      padding-inline: 2.5rem;
      width: 100%;
      height: 81px;
      max-height: 81px;
      min-height: 81px;
      box-shadow: 0px 1px 20px 0px #0000000d;
    }

    @media (max-width: 400px) {
      padding-inline: 1.6rem;
    }

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    @media (max-width: 600px) {
      padding: 2.2rem 2.5rem 0.1rem;
      width: 100%;
    }

    @media (max-width: 400px) {
      padding-inline: 1.6rem;
    }

    &__list {
      display: flex;
      align-items: center;

      @media (max-width: 1000px) {
        gap: 5rem;
      }

      @media (max-width: 800px) {
        gap: 4rem;
      }

      @media (max-width: 600px) {
        flex-direction: column;
        gap: 0;
        text-align: center;
        width: 100%;
      }

      &__item {
        display: flex;
        align-items: center;

        @media (max-width: 600px) {
          width: 100%;
        }

        &__link {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.25;
          padding-block: 0.6rem;
          color: #000;

          @media (max-width: 600px) {
            font-weight: 400;
            line-height: 1.5;
            padding-block: 0.8rem 1.2rem;
            border-bottom: 1px solid #c1c1c14d;
            width: 100%;
          }

          &--home {
            color: #eabb17;
            font-weight: 700;
          }

          &--about {
            margin-left: 6.75rem;

            @media (max-width: 1000px) {
              margin-left: 0;
            }
          }

          &--spaces {
            margin-left: 6.2rem;

            @media (max-width: 1000px) {
              margin-left: 0;
            }
          }

          &--contact {
            margin-left: 3.875rem;

            @media (max-width: 1000px) {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

.hero {
  position: relative;
  margin-bottom: 8.7rem;
  text-align: center;
  color: #fff;

  @media (max-width: 400px) {
    margin-bottom: 4rem;
  }

  .linkWrapper {
    @media (max-width: 245px) {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
    }
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7083em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-inline: 25%;
    background: linear-gradient(180deg, #373737 0%, rgba(55, 55, 55, 0) 100%);
    font-size: clamp(3.5rem, 3.35vw, 4.8rem);

    @media (max-width: 1140px) {
      padding-inline: 0;
    }

    @media (max-width: 400px) {
      font-size: clamp(1.5rem, 6.4vw, 2.4rem);
      justify-content: flex-start;
      gap: 1em;
      padding-inline: 5%;
    }

    @media (max-width: 260px) {
      gap: 0.7em;
    }

    @media (max-width: 260px) {
      justify-content: center;
      padding-inline: 3%;
    }

    &__heading {
      font-size: clamp(3.7rem, 3.35vw, 4.8rem);
      font-weight: 600;
      line-height: 1.3333;
      margin-top: 1.4792em;

      @media (max-width: 1140px) {
        padding-inline: 25%;
      }

      @media (max-width: 920px) {
        font-size: clamp(3.2rem, 4vw, 3.7rem);
      }

      @media (max-width: 790px) {
        padding-inline: 20%;
      }

      @media (max-width: 730px) {
        margin-top: 1.2em;
      }

      @media (max-width: 700px) {
        font-size: clamp(2.8rem, 4.6vw, 3.2rem);
      }

      @media (max-width: 600px) {
        margin-top: 1.4792em;
        padding-inline: 15%;
      }

      @media (max-width: 530px) {
        font-size: 2.7rem;
        margin-top: 1.2em;
        padding-inline: 15%;
      }

      @media (max-width: 500px) {
        margin-top: 1.4792em;
      }

      @media (max-width: 480px) {
        font-size: clamp(2.4rem, 5.7vw, 2.65rem);
        line-height: 1.25;
        padding-inline: 10%;
      }

      @media (max-width: 420px) {
        margin-top: 1em;
      }

      @media (max-width: 400px) {
        font-size: clamp(1.75rem, 6.4vw, 2.4rem);
        padding-inline: 0;
        line-height: 1.166667;
        margin-top: 1em;
      }

      @media (max-width: 260px) {
        margin-top: 0;
      }

      @media (max-width: 245px) {
        margin-top: -1.5rem;
      }

      @media (max-width: 230px) {
        font-size: 1.6rem;
      }

      &__accent {
        display: inline;
        color: #eabb17;
      }
    }

    &__text {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 1.6111;

      @media (max-width: 1140px) {
        padding-inline: 20%;
      }

      @media (max-width: 850px) {
        padding-inline: 15%;
      }

      @media (max-width: 730px) {
        padding-inline: 12%;
      }

      @media (max-width: 670px) {
        font-size: 1.7rem;
      }

      @media (max-width: 630px) {
        padding-inline: 7%;
      }

      @media (max-width: 575px) {
        font-size: 1.65rem;
      }

      @media (max-width: 420px) {
        font-size: 1.6rem;
        line-height: 1.5;
      }

      @media (max-width: 386px) {
        font-size: 1.5rem;
        line-height: 1.5;
      }

      @media (max-width: 400px) {
        font-size: clamp(1.2rem, 3.73vw, 1.4rem);
        line-height: 1.4286;
        padding-inline: 0;
      }

      @media (max-width: 282px) {
        font-size: 1.1rem;
      }
    }
  }
}

.about {
  text-align: center;
  background: #f8f8f8;
  padding: 8rem 5rem;

  @media (max-width: 630px) {
    padding-block: 5.3rem 6.6rem;
  }

  @media (max-width: 500px) {
    padding-inline: 1.6rem;
  }

  .sectionHeader {
    margin-bottom: 8.333rem;
  }

  &__content {
    display: flex;
    justify-content: center;
    gap: 2.017rem;
    flex-wrap: wrap;

    @media (max-width: 400px) {
      flex-direction: column;
      gap: 2rem;
    }

    & > * {
      flex: 1 0 0;
    }

    &__details {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      min-width: 260px;
      max-width: 387px;
      margin-bottom: 3.3rem;

      @media (max-width: 930px) {
        max-width: 80%;
      }

      @media (max-width: 850px) {
        max-width: 2000%;
      }

      @media (max-width: 630px) {
        margin-bottom: 0;
      }

      @media (max-width: 400px) {
        min-width: 0;
      }

      &__image {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        padding-block: 3.6rem 8rem;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0px 4px 28px 0px rgba(113, 113, 113, 0.18);
        color: #212121;

        @media (max-width: 400px) {
          padding-bottom: 6.6rem;
        }

        & > * {
          width: 75%;

          @media (max-width: 400px) {
            width: 86.0058%;
          }
        }

        &__title {
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.2778;
          margin-bottom: 5.4rem;

          @media (max-width: 400px) {
            margin-bottom: 5.6rem;
          }

          @media (max-width: 300px) {
            font-size: 1.7rem;
          }
        }

        &__body {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3333;

          @media (max-width: 630px) {
            line-height: 2.8rem;
            color: #717171;
          }

          @media (max-width: 300px) {
            font-size: 1.7rem;
          }
        }
      }
    }
  }
}

.facilities {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 8rem 10.9rem;
  overflow-x: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  @media (max-width: 630px) {
    padding-block: 4rem 5rem;
    align-items: flex-start;
  }

  .sectionHeader {
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 8rem;
  }

  &__content {
    display: flex;
    padding-left: 12rem;
    gap: 4rem;

    @media (max-width: 630px) {
      padding-left: 1.6rem;
      gap: 2rem;
    }

    &__facility {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      flex-shrink: 0;

      &:last-of-type {
        padding-right: 4rem;
      }

      &__image {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__title {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.3rem;
        color: #212121;
      }
    }
  }
}

.coverletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 8rem 12rem 8.8rem;

  @media (max-width: 700px) {
    padding-inline: 6rem;
  }

  @media (max-width: 600px) {
    padding-block: 5.1rem;
  }

  @media (max-width: 630px) {
    padding: 5.1rem 2.5rem;
  }

  @media (max-width: 400px) {
    padding: 5.1rem 1.6rem;
  }

  .sectionHeader {
    margin-bottom: 13.4rem;

    @media (max-width: 930px) {
      margin-bottom: 10rem;
    }

    @media (max-width: 700px) {
      margin-bottom: 6rem;
    }

    @media (max-width: 400px) {
      margin-bottom: 4rem;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15rem;
    width: 100%;

    @media (max-width: 1170px) {
      gap: 10rem;
    }

    @media (max-width: 930px) {
      flex-direction: column;
    }

    @media (max-width: 700px) {
      gap: 5rem;
    }

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 400px) {
        margin-bottom: 3.3rem;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      gap: 4.1rem;
      flex-shrink: 0;
      width: 38.5833%;

      @media (max-width: 930px) {
        text-align: center;
        width: 80%;
      }

      @media (max-width: 730px) {
        width: 90%;
      }

      @media (max-width: 670px) {
        width: 100%;
      }

      &__text {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.4rem;
        color: #717171;

        @media (max-width: 700px) {
          font-size: 1.7rem;
          line-height: 3rem;
        }

        @media (max-width: 400px) {
          font-size: 1.4rem;
          line-height: 2.8rem;
          padding-inline: 1.1rem;
        }
      }

      &__form {
        display: flex;

        @media (max-width: 330px) {
          flex-direction: column;
        }

        &__email {
          flex-grow: 1;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 2.4rem;
          padding: 1rem;
          border: 1px solid #c1c1c1;
          outline: none;
          border-radius: 8px 0 0 8px;
          color: #717171;

          @media (max-width: 400px) {
            font-size: 1.4rem;
          }

          @media (max-width: 330px) {
            border-radius: 8px 8px 0 0;
          }

          &::placeholder {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 2.4rem;
            color: #d8cfcf;

            @media (max-width: 400px) {
              font-size: 1.4rem;
            }
          }
        }

        &__submit {
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 2.4rem;
          padding-inline: 1rem;
          border: none;
          outline: none;
          background: #eabb17;
          border-radius: 0 8px 8px 0;
          color: #212121;
          cursor: pointer;

          @media (max-width: 400px) {
            font-size: 1.4rem;
          }

          @media (max-width: 330px) {
            border-radius: 0 0 8px 8px;
            padding-block: 0.7rem;
          }
        }
      }
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 8rem;

  @media (max-width: 400px) {
    padding-block: 4rem 6rem;
  }

  .sectionHeader {
    margin-bottom: 8rem;
    padding-inline: 3rem;

    @media (max-width: 400px) {
      margin-bottom: 3.4rem;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.footer {
  padding-inline: 8.3333%;
  color: #212121;

  @media (max-width: 1000px) {
    padding-inline: 7%;
  }

  @media (max-width: 800px) {
    padding-inline: 5%;
  }

  @media (max-width: 565px) {
    padding-inline: 2.4rem;
  }

  @media (max-width: 400px) {
    padding-inline: 1.6rem;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;

    @media (max-width: 565px) {
      flex-direction: column;
    }

    &__item {
      &__heading {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.8rem;
        margin-bottom: 2.4rem;
      }

      &__body {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        margin-bottom: 4.8rem;

        &__text {
          display: flex;
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 1.8rem;

          &__accent {
            font-weight: 500;
          }
        }
      }
    }
  }

  &__extras {
    margin-block: 4.2rem 6.9rem;

    @media (max-width: 400px) {
      margin-block: 2rem;
    }

    &__line {
      margin-bottom: 2.4rem;
      width: 100%;
      height: 1px;
      background: #c4c4c4;
      border-radius: 100px;

      @media (max-width: 400px) {
        margin-bottom: 4.25rem;
      }
    }

    &__body {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 6rem;

      @media (max-width: 400px) {
        flex-direction: column;
        align-items: center;
      }

      &__texts {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        color: #212121;
        flex-wrap: wrap;

        @media (max-width: 400px) {
          margin-bottom: 4.25rem;
        }

        &__text-dot {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.4rem;

          &__text {
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 1.8rem;

            &--bold {
              display: inline;
            }
          }

          &__dot {
            margin-inline: 0.4rem;
            width: 2px;
            height: 2px;
            background: #212121;
            border-radius: 100%;
          }
        }
      }

      &__iconsWrapper {
        display: flex;
        gap: 2.3rem;
        margin-inline: auto;

        &__icon {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }
}
